USE [master]
GO
/****** Object:  Database [Demoest]    Script Date: 4/14/2023 5:20:54 PM ******/
CREATE DATABASE [Demoest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Demoest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Demoest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Demoest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Demoest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Demoest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Demoest]
GO
/****** Object:  Table [dbo].[TblEmploye]    Script Date: 4/14/2023 5:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblEmploye](
	[id] [smallint] NOT NULL,
	[empname] [varchar](50) NULL,
	[empdesignation] [varchar](50) NULL,
 CONSTRAINT [PK_TblEmploye] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TblEmploye] ([id], [empname], [empdesignation]) VALUES (1001, N'Praveen', N'Manager')
INSERT [dbo].[TblEmploye] ([id], [empname], [empdesignation]) VALUES (1002, N'Prabin', N'Software Egineer')
GO
USE [master]
GO
