<div class="container">
    <div class="header">

    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Emp Name</th>
                <th>Designation</th>
                <th>Salary</th>
                <th>Join Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employeeService.employees">
                <td (click)="populateForm(employee)">{{employee.empId}}</td>
                <td (click)="populateForm(employee)">{{employee.empName}}</td>
                <td (click)="populateForm(employee)">{{employee.designation}}</td>
                <td (click)="populateForm(employee)">{{employee.salary}}</td>
                <td (click)="populateForm(employee)">{{employee.dateOfJoining | date: "dd-MMM-yyyy"}}</td>
                <td>
                    <button class="btn btn-sm btn-outline-info"
                    (click)="updateEmployee(employee.empId)">E</button>
                    &nbsp;
                    <button class="btn-sm btn-outline-danger"
                    (click)="deleteEmployee(employee.empId)">X</button>
                </td>
            </tr>
        </tbody>

    </table>

</div>