<div class="container-fluid">
    <br>
    <!--h2 style="text-align: center;">{{title}}</h2-->
    <div class="card">
        <div class="card-body">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <div class="logo-img">
                    <img src="assets/img/faith.png" class="img-fluid"> 
                </div>&nbsp;
               <a class="navbar-brand" href="#">Home</a>
            </nav>
            <app-employees></app-employees>
        </div>
    </div>
   
</div>
<footer>
    <div class="container">
        <span>All rights reserved 2023 @Faith</span>
    </div>
</footer>


